.container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 10px;
    border-radius: 5px;
}

.container:hover {
    cursor: pointer;
}

.containerLeft {
    width: 20%;
    max-width: 52px;
}

.containerRight {
    width: 80%;
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.heading {
    font-size: 18px;
    color: hsl(213, 96%, 18%);
    margin: 0;
}

.subHeading {
    margin: 0;
    font-size: 13px;
    opacity: 0.4;
}

.headingDescription {
    font-size: 12px;
    color:hsl(213, 96%, 18%);
    margin: 0;
    font-weight: 400;
}

.clicked {
    border: 1px solid hsl(213, 96%, 18%);
    background-color: hsla(213, 96%, 18%, 0.01);
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: column;
        width: 100%;
        gap: 30px;
        padding: 10px 0 10px 15px;
    }

    .containerLeft {
        width: 100%;
        max-width: none;
    }

    .containerRight {
        width: 100%;
    }
}